#contact_modal {
    display: none;
}

.photograph-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px;
    margin-top: 20px;
    background-color: var(--color-light-medium);
}

.photographer_profile__infos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.photograph-header img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
}

.photograph-header h2 {
    font-size: 64px;
    font-weight: 400;
    color: #D3573C;
    margin: 0;
}

.location {
    font-size: 24px;
    color: #901C1C;
    margin-bottom: 5px;
    margin-top: 0;
}

.tagline {
    font-size: 18px;
    color: #525252;
    margin-top: 20px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

/* Medias */

/* Conteneur principal des médias */
.media-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
}

.gallery{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px 60px;
}

.gallery_card{
    display: flex;
    flex-direction: column;
    gap: 10px;
}



/* Chaque carte de média */
.media-item {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    width: 28.22%; /* 3 cartes par ligne */
    margin: 0; /* Assurez-vous qu'il n'y a pas de marge */
}

/* Image du média */
.media-item img {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.media-item video {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

/* Conteneur pour le titre et les likes */
.media-item .media-info {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Pour aligner verticalement sur la même ligne */
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Titre du média */
.media-item h3 {
    font-size: 24px;
    font-weight: 400;
    color: #901C1C;
    margin: 0;
}

/* Likes alignés à droite */
.media-item p {
    font-size: 24px;
    font-weight: 500;
    color: #901C1C;
    margin: 0;
}

.media-item .likes i {
    color: #B33A3A; /* Couleur du cœur */
    margin-left: 5px;
}

/* Encart fixe en bas de la page */
.photographer-info-bar {
    position: fixed;
    min-width: 375px;
    bottom: 0;
    right: 32px;
    left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DB8876;
    padding: 20px 30px;
    border-radius: 5px 5px 0 0;
}

/* Style pour le total des likes */
.photographer-info-bar .total-likes {
    font-size: 24px;
}

.photographer-info-bar .total-likes .fa-heart {
    margin-left: 4px;
}

/* Style pour le prix */
.photographer-info-bar .photographer-price {
    font-size: 24px;
}

.main_about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px;
    margin-top: 20px;
    background-color: var(--color-light-medium);
}


.photographer_profile__infos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.photographer_thumbnail{
    height: clamp(10rem, 20vw, 20rem);
    width: clamp(10rem, 20vw, 20rem);
}


/* MEDIA GALLERY */
.main_content{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
}

.gallery{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px 60px;
}

.gallery_card{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.gallery_card a{
    border-radius: 5px;
    overflow: hidden;
}

.gallery_card a figure{
    height: 260px;
}


.gallery_thumbnail{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.gallery_card figcaption{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.gallery_card figcaption h2{
    font-weight: 100;
    color: var(--color-primary);
    font-size: 24px;
}

.gallery_card figcaption div{ 
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: 5px;
    color: black;
    font-size: 16px;
}

.btn_like{
    border-radius: 5px;
    padding: 0 1px;
    font-size: 24px;
    color: var(--color-secondary);
}

.liked{
    color: var(--color-primary);
}

/* MODAL FORM */
.modal_form {
    position: relative;
    border-radius: 5px;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    opacity: 0;
    transform: translateY(-150px);
    animation: fadeIn .3s ease-in-out forwards;
}

.modal_form_title{
    width: 100%;
    font-size: clamp(2rem, 3vw, 4rem);
}

.modal_form_title h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: normal;
    font-size: clamp(2rem, 3vw, 4rem);
}

.btn_close:hover::before{
    color: var(--color-primary);
}
.btn_close:focus:not(:hover)::before{
    outline: 2px solid var(--color-primary);
}

.btn_close::before{
    content: "\f00d";
    font-family: "Font Awesome 5 Free";
    padding: 5px;
    border-radius: 5px;
    font-weight: 900;
    color: var(--color-light);
    font-size: clamp(2rem, 3vw, 3rem);
}

.modal_form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.form_content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form_content label {
    color: var(--color-label);
    font-size: clamp(1.8rem, 2vw, 2rem);
}

.form_content input {
    height: 50px;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
}

.form_content textarea {
    border-radius: 5px;
    height: 150px;
    resize: none;
    padding: 10px;
}

.form_content span{
    color: var(--color-dark);
    font-size: clamp(1.2rem, 1.6vw, 1.6rem);
}

.form_content input:invalid:focus,
.form_content textarea:invalid:focus {
    outline: 2px solid var(--color-primary);
} 

.btn_submit{
    max-width: 150px;
}

.btn_submit:hover,
.btn_submit:focus {
    outline: 2px solid var(--color-light);
}